 <div>
    <div class="w3-bar w3-blue-grey wrapper">
        <a href="/" class="w3-bar-item w3-button w3-mobile w3-green"><i class="fas fa-home"></i></a>
        <a href="/blog" class="w3-bar-item w3-button w3-mobile"><i class="fas fa-comment-dots"></i></a>
        
        
        <span class="w3-right w3-mobile">
            <span class="branding w3-mobile">
            <a href="/"><img src="assets/imges/coollogo_com-14936424.png" height="60px" alt="yisraelk1"></a>
           
            </span>
        </span>
    </div>
</div>
      
