html {
    height: 100%;
    box-sizing: border-box;
}

body {
    direction: rtl;
    position: relative;
    //background: #a2e6ff;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 50px;
    background-image: url(../imges/seamless-rugged-pattern-grainy-background-Download-Royalty-free-Vector-File-EPS-93661.jpg);
}

.bg{
    @include gradient(rgba(255, 252, 178, 0.8), rgba(178, 255, 246, 0.8));
}
.wrapper {
    margin: auto;
    max-width: 90vw;
    padding: 0;
}

.w3-serif {
    font-family: 'Rubik', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rubik', "Segoe UI", Arial, sans-serif;
}


header {
    
    .grid-container {
        display: grid;
        padding: 1.5rem;
        grid-template-columns: 35vw 35vw;
        grid-gap: 2rem;
        justify-content: center;
        align-content: center;
        text-align: center;
        max-width: 100vw;    
        .img-box {
             
            img {
                transform: rotate(10deg);
                border-radius: 40% 5% 40% 5%;
                box-shadow: $shadow-box;
                transition: ease-in-out 0.6s;
            }
            img:hover{
                border-radius: 5% 40% 5% 40%;
                transform: rotate(0deg);
            }
        }
    }

    .container-text {
        display: grid;
        align-content: center;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 2px 3px rgba(0, 0, 0, 0.3), 1px 2px 3px rgba(0,0,0,0.2);

        h2{
            font-size: 3em;
        }
        p{
            font-size: 1.5em;
        }
        
    }
}
