//post css




.post-box{
    max-width: 50vw;
}
.post{
    
    display: inline-block;
    //border-radius: 10px;
    header{
        //border-radius: 10px 10px 0 0;
    }
    .meta{
        font-size: 12px;
        //border-radius: 0 0 10px 10px;
    }
}

.content{
    margin: 20px auto;
    padding: 10px 20px;
    background: #eee;
    box-shadow:  0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.meta{
    font-family: sans-serif;
}