---
---

@import '_w3css.scss';


body{
    //background: #a2e6ff;
    
}

.wrapper{
    padding: 0 80px;
}
.w3-bar{
    
    a{
        display: inline-block;
        font-size: 30px;
        
    }
    
}

